.card{
    background-color: rgba(white,.2);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;
    &__content{
        display: flex;
        align-items: center;
        font-size: 30px;
        justify-content: space-around;
        font-weight: bold;
        width: 100%;
        text-transform: uppercase;
        img{
            width: 100%;
            max-width: 250px;
        }
        .number{
            margin: 0 16px 0 0;
        }
    }
    &:hover{
        transform: scale(1.04);
    }
}

.component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}