<div class="scoreboard">
    <div class="scoreboard__banner">
        <div class="scoreboard__banner--title">
            <h1>DHL Fastest pit stop award</h1>
            <h4>Standing after round 21</h4>
        </div>
        <div class="scoreboard__banner--logo">
            <img src="assets/dhl-logo.png">
        </div>
    </div>
    <div class="scoreboard__cards">
        <div class="scoreboard__cards--main">
            <app-top-card></app-top-card>
        </div>
        <div class="scoreboard__cards--side">
            <app-side-card></app-side-card>
        </div>
    </div>
    <div class="scoreboard__buttons">
        <button>Show top 3 only</button>
    </div>
</div>